<mat-toolbar>
    <mat-toolbar-row>
        <span>Soul School</span>
    </mat-toolbar-row>

</mat-toolbar>

<mat-card fxLayout="row" fxLayoutAlign="space-between stretch" style="align-items: center;">
    <div  fxFlex="100" *ngIf="system=='initial'">
        <button mat-raised-button (click)="changeSystem('teacher')">Logar como professor</button>
        <button mat-raised-button (click)="changeSystem('student')">Logar como aluno</button>
    </div>
   
    <div  fxFlex="48" *ngIf="system=='student'">
        <app-login></app-login>
    </div>
    <div  fxFlex="48" *ngIf="system=='teacher'">
      <app-alunos></app-alunos>
    </div>
</mat-card>

<mat-toolbar class="footer">

    <small>Desenvolvido por  Lucas Coquenão, Leonardo Linard, Lina Amaral, Paulo Henrique e Mirian Meneses &copy; 2021</small>

</mat-toolbar>